body{
     background-color:  rgb(53, 117, 109);
     font: 1em sans-serif;
     color: #efefef;;
}
._vdeo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  gap: 12px;                /* khoảng cách giữa video và chữ */
}
._vdeo video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* Đảm bảo giữ đúng tỉ lệ */
}
._main{
  display: flex;
}
.img{
  width: 100px;
  height: 100px;
  background-color: rgb(27, 74, 116)
}
@media screen and (max-width: 768px) {
  .img {
    display: none;
  }
}